.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

html {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    width: 40%;
    margin: 0 auto;
}

body {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}