html {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    width: 40%;
    margin: 0 auto;
}

.entry {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: large;
}

body {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    margin: 0 auto;
}

.navigation {
    font-size: 0.9em;
}